<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Matrix LLM Learning Platform</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h2>Matrix LLM Platform</h2>
    <% if (typeof hideNav === 'undefined' || !hideNav) { %>
        <%- include('nav') %>
    <% } %>
</header>
<main>