<%- include('../partials/header') %>
<div class="auth-container">
    <h3>Авторизація користувача</h3>
    <% if (error) { %> <p class="error-msg"><%= error %></p> <% } %>
    <form action="/auth/login" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required placeholder="name@domain.com">
        
        <label>Пароль:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Увійти в кабінет</button>
    </form>
    <p>Немає акаунту? <a href="/auth/register">Зареєструватися</a></p>
</div>
<%- include('../partials/footer') %>